html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

/*
ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
*/

/*
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
*/

/*
q, blockquote {
  quotes: none;
}
*/
/*
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}
*/

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}
blockquote{
	quotes:"'";
}

/* COLOURS */
/* VARIABLES */
body {
  background-image: url(../img/donuts.jpg);
  text-align: center;
}
.container {
  width: 670px;
  min-height:100%;
  margin: 0 auto;
  background-color: white;
  padding: 20px 20px 20px 20px;
}
h1{
	font-size:xx-large;
}
.header{
	margin: 0 0 20px 0;
}
.main-quote{
	display:flex;
	align-content:flex-end;
}
.main-quote>img{
	width:200px;
	height:200px;
}
.quote{
	padding:20px 0 0 0;
}
.quote-container>a{
	display:block;
	margin:10px 0 0 0;
}
.main-quote>img{
	width:200px;
	margin-left:20px;
}
iframe{
	width:100%;
	height:360px;
	margin: 10px 0 0 0;
	frameborder:0;
}
.trivia{
	margin-top:40px;
	display:flex;
	text-align: left;
	justify-content: space-between;
}
.trivia>div>span{
	display: block;
	width:100%;
	text-align: center;
}
.trivia>div>img{
	float:left;
}
.one{
	padding:10px 10px 10px 0;
	text-align: left;
	width:28.5%;
}
.two{
	width:38%;
	padding:10px;
}
.three{
	width:32%;
	padding:10px 0 10px 10px;
}
footer{
	margin:40px 0 0 0;
	width:100%;
}

@media (min-width:0) and (max-width:746px){
	body{
		padding:5px;
	}
	.header{
		margin:15px 0 20px 0;
	}
	.container{
		margin:0;
		width:100%;
		padding:5px;
		height:auto;
		width:auto;
	}
	.main-quote{
		flex-direction: column;
		align-items: center;
	}
	.quote-container{
		order:2;
		margin:10px 0 15px 0;
	}
	.main-quote>img{
		width:100%;
		height:auto;
		margin:0;
	}
	.trivia{
		flex-direction: column;
		align-items: center;
	}
	.one,.two,.three{
		width:95%;
		padding:0;
		margin:0 0 15px 0;
	}
	footer{
		margin:20px 0 20px 0;
	}
}
@media (max-width:500px){
	iframe{
		height:250px;
		width:95%;
	}
}




/*
body .container div p {
  margin-bottom: 20px;
}
body .container div p br {
  height: 40px;
  display: block;
}
body .container table.trivia td {
  padding: 10px;
}
body .container table.trivia .one {
  padding-left: 0;
}
body .container table.trivia .three {
  padding-right: 0;
}
body .container table.trivia div {
  text-align: center;
}
body .container table.trivia img {
  float: left;
  margin-right: 5px;
}
body .container div.footer {
  text-align: center;
  padding-top: 40px;
}
body .container div.footer p {
  margin-bottom: 10px;
}
body .container div.footer div.houses p {
 
  height: 1000px;
  display: block;
  position: absolute;
  top: 100px;
  left: 100px;
  font-family: Monaco;
  background-color: red;
  text-align: center;
}
*/
